<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'main:create' %}">新增</a>
    <a href="{% url 'main:delete' %}">刪除</a>
    <a href="{% url 'main:update' %}">修改</a>
    <a href="{% url 'main:read' %}">查詢</a>


    <h1>78978955555555</h1>
    {% for i in data %}
    <li>
        {{i.categoryid}}
        {{i.categoryname}}
        {{i.description}}
        {{i.picture}}
    </li>
    {% endfor %}
</body>
</html>